.about_btn {
  right: 0; }

.social_block_hidden {
  display: none;
  float: right;
  margin-left: 5px; }
  @media screen and (max-width: 767px) {
    .social_block_hidden {
      display: block;
      position: relative;
      z-index: 9; } }
  .social_block_hidden img {
    display: block;
    margin-bottom: 5px; }
  .social_block_hidden a:hover img {
    -webkit-transition: -webkit-filter 0.3s linear;
    transition: -webkit-filter 0.3s linear;
    transition: filter 0.3s linear;
    transition: filter 0.3s linear, -webkit-filter 0.3s linear;
    -webkit-filter: brightness(75%);
    filter: brightness(75%); }

@media screen and (min-width: 1200px) {
  .right_warp {
    padding: 0; } }

@media screen and (max-width: 767px) {
  .right_warp {
    display: none; } }

.right_sidebar {
  margin-top: 40px; }
  @media screen and (max-width: 767px) {
    .right_sidebar {
      margin-top: 25px;
      margin-bottom: 25px; } }
  .right_sidebar:not(.right_sidebar_1) {
    display: none; }
  .right_sidebar .social_block {
    text-align: center;
    margin-bottom: 20px;
    text-align: right; }
    .right_sidebar .social_block a img {
      -webkit-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear; }
    .right_sidebar .social_block a:hover img {
      -webkit-transition: -webkit-filter 0.3s linear;
      transition: -webkit-filter 0.3s linear;
      transition: filter 0.3s linear;
      transition: filter 0.3s linear, -webkit-filter 0.3s linear;
      -webkit-filter: brightness(75%);
      filter: brightness(75%); }
    .right_sidebar .social_block a:not(:last-child) {
      margin-right: 15px; }
      @media screen and (max-width: 991px) {
        .right_sidebar .social_block a:not(:last-child) {
          margin-right: 10px; } }
  .right_sidebar .banner_right_1, .right_sidebar .banner_right_2 {
    text-align: right; }
  .right_sidebar .banner_right_1 {
    margin-bottom: 20px; }
    .right_sidebar .banner_right_1 img {
      max-width: 270px; }

.top-logo {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 70px;
  text-transform: uppercase;
  color: #0a5a8b;
  background: url("/img/title-menu.png") no-repeat; }
  @media screen and (max-width: 767px) {
    .top-logo {
      margin-left: -15px; } }

.content404 {
  margin-bottom: 25px;
  padding: 35px 25px 25px 25px;
  background-color: #EBEBEB;
  text-align: center; }
  @media screen and (max-width: 424px) {
    .content404 {
      margin-left: -5px;
      margin-right: -5px;
      padding: 10px; } }
  @media screen and (max-width: 424px) {
    .content404 > img:nth-of-type(2) {
      width: 100%;
      max-width: 279px;
      height: auto; } }
  .content404 a {
    color: #0a5a8b; }
    .content404 a:hover {
      text-decoration: none; }

.top404 {
  margin-top: 20px; }
  .top404 p {
    font-size: 24px;
    text-transform: uppercase; }
    .top404 p:first-child {
      margin-bottom: 0; }

.border404 {
  height: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(#EBEBEB), to(#C8C8C8));
  background: -webkit-linear-gradient(#FFFFFF, #EBEBEB, #C8C8C8);
  background: linear-gradient(#FFFFFF, #EBEBEB, #C8C8C8); }

.bottom404 {
  margin-top: 10px;
  margin-bottom: 25px; }
  .bottom404 p {
    margin-bottom: 15px;
    font-size: 22px; }
  @media screen and (max-width: 767px) {
    .bottom404 ul {
      padding-left: 0; } }
  .bottom404 ul li {
    font-size: 13px;
    list-style: none; }

.buttons404 {
  display: inline-block;
  padding-top: 3px;
  width: 240px;
  height: 45px;
  font-weight: bold;
  -webkit-transition: -webkit-filter .3s linear;
  transition: -webkit-filter .3s linear;
  transition: filter .3s linear;
  transition: filter .3s linear, -webkit-filter .3s linear; }
  @media screen and (max-width: 1199px) {
    .buttons404 {
      display: block;
      margin: auto; } }
  .buttons404:hover {
    -webkit-transition: -webkit-filter .3s linear;
    transition: -webkit-filter .3s linear;
    transition: filter .3s linear;
    transition: filter .3s linear, -webkit-filter .3s linear;
    -webkit-filter: brightness(95%);
            filter: brightness(95%); }

.home404, .store404 {
  margin-right: 25px;
  padding-left: 30px; }
  @media screen and (max-width: 1199px) {
    .home404, .store404 {
      margin-right: auto;
      margin-bottom: 15px; } }

.home404 {
  background: url("/img/404_home.png") no-repeat; }

.store404 {
  background: url("/img/404_store.png") no-repeat; }

.support404 {
  padding-left: 40px;
  background: url("/img/404_support.png") no-repeat; }
