.prod_prefooter {
  margin-bottom: 30px;
  background: #eaf5fb; }
  @media screen and (max-width: 1199px) {
    .prod_prefooter .free_delivery_section, .prod_prefooter .result_section {
      max-height: 63px;
      border-bottom: 1px solid white; } }
  @media screen and (max-width: 767px) {
    .prod_prefooter {
      margin-left: 10px;
      margin-right: 10px; }
      .prod_prefooter .free_delivery_section, .prod_prefooter .result_section {
        max-height: 100%; }
      .prod_prefooter .contact_section, .prod_prefooter .local_store_section {
        border-bottom: 1px solid white; }
      .prod_prefooter .prod_prefooter_item > a {
        display: block;
        margin: 0 auto; }
      .prod_prefooter .free_delivery_section > a {
        max-width: 295px; }
      .prod_prefooter .result_section > a {
        max-width: 270px; }
      .prod_prefooter .contact_section > a {
        max-width: 270px; }
      .prod_prefooter .local_store_section > a {
        max-width: 260px; } }
  .prod_prefooter .result_text {
    line-height: 1.3; }
  .prod_prefooter .free_delivery_text_l1, .prod_prefooter .free_delivery_text_l2, .prod_prefooter .result_text_l1, .prod_prefooter .result_text_l2 {
    color: #333; }
  .prod_prefooter .result_text_l1 {
    padding-top: 3px; }
  .prod_prefooter .local_store_section {
    line-height: 64px; }
    .prod_prefooter .local_store_section .l2_3_2 img {
      margin-top: 10px; }
    .prod_prefooter .local_store_section .l2_3_2_text {
      text-align: center; }
  .prod_prefooter .local_store_text {
    padding-top: 10px;
    padding-left: 5px; }
    @media screen and (max-width: 767px) {
      .prod_prefooter .local_store_text {
        padding-left: 12px; } }
  .prod_prefooter .local_store_text_l1, .prod_prefooter .local_store_text_l2 {
    color: #0a5a8b;
    text-align: center;
    line-height: 1.2; }
  .prod_prefooter .local_store_text_l1 {
    font-size: 14px; }
  .prod_prefooter .local_store_text_l2 {
    font-weight: bold;
    font-size: 22px; }
    @media screen and (max-width: 424px) {
      .prod_prefooter .local_store_text_l2 {
        font-size: 21px; } }
  @media screen and (max-width: 1199px) {
    .prod_prefooter .result_section {
      padding-left: 0; } }

.about_btn {
  right: 0; }

.social_block_hidden {
  display: none;
  float: right;
  margin-left: 5px; }
  @media screen and (max-width: 767px) {
    .social_block_hidden {
      display: block;
      position: relative;
      z-index: 9; } }
  .social_block_hidden img {
    display: block;
    margin-bottom: 5px; }
  .social_block_hidden a:hover img {
    -webkit-transition: -webkit-filter 0.3s linear;
    transition: -webkit-filter 0.3s linear;
    transition: filter 0.3s linear;
    transition: filter 0.3s linear, -webkit-filter 0.3s linear;
    -webkit-filter: brightness(75%);
    filter: brightness(75%); }

@media screen and (min-width: 1200px) {
  .right_warp {
    padding: 0; } }

@media screen and (max-width: 767px) {
  .right_warp {
    display: none; } }

.right_sidebar {
  margin-top: 40px; }
  @media screen and (max-width: 767px) {
    .right_sidebar {
      margin-top: 25px;
      margin-bottom: 25px; } }
  .right_sidebar:not(.right_sidebar_1) {
    display: none; }
  .right_sidebar .social_block {
    text-align: center;
    margin-bottom: 20px;
    text-align: right; }
    .right_sidebar .social_block a img {
      -webkit-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear; }
    .right_sidebar .social_block a:hover img {
      -webkit-transition: -webkit-filter 0.3s linear;
      transition: -webkit-filter 0.3s linear;
      transition: filter 0.3s linear;
      transition: filter 0.3s linear, -webkit-filter 0.3s linear;
      -webkit-filter: brightness(75%);
      filter: brightness(75%); }
    .right_sidebar .social_block a:not(:last-child) {
      margin-right: 15px; }
      @media screen and (max-width: 991px) {
        .right_sidebar .social_block a:not(:last-child) {
          margin-right: 10px; } }
  .right_sidebar .banner_right_1, .right_sidebar .banner_right_2 {
    text-align: right; }
  .right_sidebar .banner_right_1 {
    margin-bottom: 20px; }
    .right_sidebar .banner_right_1 img {
      max-width: 270px; }

@media screen and (max-width: 424px) {
  .col-md-12 {
    padding: 0; } }

.free_shipping_img {
  position: absolute;
  right: 55px;
  top: 27px; }
  @media screen and (max-width: 1199px) {
    .free_shipping_img {
      right: 30px;
      top: 23px;
      width: 150px; } }
  @media screen and (max-width: 991px) {
    .free_shipping_img {
      top: 40px;
      right: 25px;
      width: 100px; } }

@media screen and (min-width: 767px) {
  .left_warp {
    padding-left: 5px;
    padding-right: 5px; } }

@media screen and (max-width: 424px) {
  .category .col-md-6, .category .col-md-4 {
    padding: 0; } }

.category h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-shadow: 0.1px 0 #000;
  letter-spacing: 1px; }
  @media screen and (max-width: 424px) {
    .category h1 {
      font-size: 22px !important; } }

.category p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #6D6D6D;
  line-height: 1.5; }
  @media screen and (max-width: 991px) {
    .category p:last-of-type {
      margin-bottom: 0; } }
  @media screen and (max-width: 424px) {
    .category p {
      text-align: justify; } }

.category ol li, .category ul li {
  font-size: 16px;
  color: #6d6d6d;
  line-height: 1.5; }

.col-md-12 .product_stars + div {
  padding-bottom: 15px; }

.card_product {
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #EAF5FB; }
  @media screen and (max-width: 767px) {
    .card_product {
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-width: 991px) {
    .card_product {
      height: auto !important; } }
  .card_product .category_title {
    padding: 15px 5px 5px 5px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #305c07;
    text-shadow: 0.5px 0 #305c07;
    text-align: center;
    letter-spacing: 0.5px;
    word-spacing: 1px; }
    @media screen and (min-width: 992px) {
      .card_product .category_title {
        height: 82px; } }
    @media screen and (max-width: 1199px) {
      .card_product .category_title {
        font-size: 18px; } }
    @media screen and (max-width: 991px) {
      .card_product .category_title {
        height: auto !important; } }
    @media screen and (max-width: 424px) {
      .card_product .category_title {
        padding-top: 8px;
        font-size: 19px; } }
    .card_product .category_title span {
      margin-left: 10px;
      color: #639e28;
      text-shadow: 0.5px 0 #639e28; }
      @media screen and (max-width: 424px) {
        .card_product .category_title span {
          display: block;
          margin-left: 0; } }
    .card_product .category_title_de {
      font-size: 21px; }
      @media screen and (max-width: 1199px) {
        .card_product .category_title_de {
          font-size: 16px;
          height: 64px; } }
    .card_product .category_title_cz {
      height: 144px; }
  .card_product .product_stars {
    padding-bottom: 13px;
    text-align: center; }
    .card_product .product_stars + div {
      font-size: 16px; }
  @media screen and (max-width: 424px) {
    .card_product .product_stars_free {
      margin: 0;
      max-width: 230px; } }
  .card_product .product_img {
    padding: 0 10px; }
    .card_product .product_img img {
      width: 100%;
      height: auto; }
    .card_product .product_img .description {
      margin-top: 10px;
      min-height: 80px;
      font-size: 16px;
      color: #6D6D6D;
      text-align: center; }
      @media screen and (max-width: 1199px) {
        .card_product .product_img .description {
          min-height: 88px; } }
      @media screen and (max-width: 991px) {
        .card_product .product_img .description {
          height: auto !important;
          min-height: auto; } }
      .card_product .product_img .description_lang {
        height: 60px; }
        @media screen and (max-width: 1199px) {
          .card_product .product_img .description_lang {
            height: 132px; } }
      .card_product .product_img .description_it_es {
        height: 154px; }
        @media screen and (max-width: 1199px) {
          .card_product .product_img .description_it_es {
            height: 242px; } }
      .card_product .product_img .description_de {
        height: 154px; }
        @media screen and (max-width: 1199px) {
          .card_product .product_img .description_de {
            height: 242px; } }
      .card_product .product_img .description_cz {
        height: 132px; }
        @media screen and (max-width: 1199px) {
          .card_product .product_img .description_cz {
            height: 198px; } }
    .card_product .product_img .description_ru {
      height: 176px; }
      @media screen and (max-width: 1199px) {
        .card_product .product_img .description_ru {
          height: 242px; } }
  .card_product .product_price {
    margin-bottom: 5px;
    width: 100%;
    font-size: 17px;
    color: #6D6D6D;
    text-align: center; }
    .card_product .product_price span {
      margin-left: 7px;
      font-size: 28px;
      font-weight: bold;
      color: #343233; }
      .card_product .product_price span.old_price {
        font-size: 16px;
        text-decoration: line-through; }
      .card_product .product_price span.new_price {
        font-family: Century Gothic Regular Bold;
        font-size: 30px;
        color: red; }
  .card_product .product_button {
    padding: 0 13px 12px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media screen and (max-width: 1199px) {
      .card_product .product_button {
        text-align: center; } }
    .card_product .product_button .more_info:hover, .card_product .product_button .add_to_basket:hover {
      cursor: pointer;
      -webkit-transition: -webkit-filter .3s ease-in-out;
      transition: -webkit-filter .3s ease-in-out;
      transition: filter .3s ease-in-out;
      transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
      -webkit-filter: brightness(95%);
      filter: brightness(95%); }
    .card_product .product_button .more_info {
      display: inline-block;
      font-size: 10px;
      width: 159px;
      height: 30px;
      background: url("/img/button_info.png") no-repeat;
      text-shadow: 0.1px 0 white;
      text-align: center;
      line-height: 30px; }
      @media screen and (max-width: 1199px) and (min-width: 992px) {
        .card_product .product_button .more_info {
          margin-bottom: 10px; } }
    .card_product .product_button .add_to_basket {
      display: inline-block;
      padding-left: 30px;
      width: 216px;
      height: 40px;
      font-family: Century Gothic Regular Bold;
      background: url("/img/button_add_category.png") no-repeat;
      text-align: center;
      line-height: 40px; }
      @media screen and (max-width: 1199px) {
        .card_product .product_button .add_to_basket {
          padding-left: 35px;
          font-size: 12px;
          letter-spacing: 0; } }
      @media screen and (max-width: 1199px) and (min-width: 992px) {
        .card_product .product_button .add_to_basket {
          width: 158px; } }
      @media screen and (max-width: 424px) {
        .card_product .product_button .add_to_basket {
          padding-left: 5px; } }
    .card_product .product_button .add_to_basket_ru {
      padding-left: 45px;
      font-size: 12px; }
      @media screen and (max-width: 1199px) and (min-width: 992px) {
        .card_product .product_button .add_to_basket_ru {
          font-size: 10px; } }
  .card_product_cz {
    height: 719px; }
    @media screen and (max-width: 1199px) {
      .card_product_cz {
        height: 757px; } }

.prod_prefooter {
  margin-bottom: 43px;
  margin-top: 7px; }
  @media screen and (max-width: 424px) {
    .prod_prefooter {
      margin: 0 0 15px 0; } }

@media screen and (max-width: 424px) {
  .sub_title {
    margin-right: -15px;
    margin-left: -15px;
    width: auto !important; } }

@media screen and (max-width: 424px) {
  .left_warp {
    padding: 0 10px; }
    .left_warp .short_desc, .left_warp .long_desc {
      padding: 0; } }

.breadcrumbs + .local_top_logo + .short_desc, .breadcrumbs + .local_top_logo + .short_desc + .long_desc {
  margin-left: 0; }

@media screen and (max-width: 424px) {
  .faq_t {
    padding-left: 0 !important; } }

.faq_q p {
  padding-left: 55px;
  display: table-cell;
  vertical-align: middle; }
  .faq_q p:hover {
    cursor: pointer; }

@media screen and (max-width: 767px) {
  .faq_a p {
    font-size: 15px; } }

.faq_q p img {
  position: absolute;
  top: 0;
  left: 0; }

.faq_q {
  position: relative;
  display: table;
  width: 100%;
  height: 45px;
  min-height: 45px; }

@media screen and (max-width: 767px) {
  .col-md-4 .product_img {
    text-align: center; }
    .col-md-4 .product_img img {
      max-width: 240px; } }

@media screen and (max-width: 424px) {
  ol, ul {
    padding-left: 15px; } }

.right_sidebar .banner_right_3 {
  margin-top: 20px;
  text-align: right; }

h2 strong, h3 strong, h4 strong, h5 strong {
  color: #639e28; }

.how_it_works_block {
  margin-bottom: 30px;
  background-color: #eaf5fb;
  border: 5px solid white;
  -webkit-box-shadow: 0px 4px 6px 0px #cccccc;
          box-shadow: 0px 4px 6px 0px #cccccc; }
  .how_it_works_block .how_photo {
    position: relative;
    float: left;
    width: 33.33333%;
    text-align: center; }
    @media screen and (max-width: 991px) {
      .how_it_works_block .how_photo {
        padding: 0 10px; } }
    @media screen and (max-width: 600px) {
      .how_it_works_block .how_photo {
        width: 50%; } }
    .how_it_works_block .how_photo p {
      margin: 8px auto 20px;
      max-width: 260px;
      font-family: Century Gothic Regular Bold;
      font-size: 15px;
      color: #333;
      text-align: center; }
  .how_it_works_block .vertical-align_img img {
    margin-top: 20px; }
    @media screen and (max-width: 424px) {
      .how_it_works_block .vertical-align_img img {
        width: 100% !important;
        height: auto !important;
        max-width: 136px; } }
    @media screen and (max-width: 991px) and (min-width: 768px) {
      .how_it_works_block .vertical-align_img img {
        width: 100% !important;
        height: auto !important;
        max-width: 136px; } }
  .how_it_works_block .circle_number {
    position: relative;
    display: inline-block;
    margin-top: 12px;
    width: 48px;
    height: 48px;
    font-family: Century Gothic Regular Bold;
    font-size: 16px;
    line-height: 45px;
    border: 2px solid #FCCD73;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: white;
    z-index: 1; }
    .how_it_works_block .circle_number:after {
      content: "";
      position: absolute;
      top: 46px;
      right: 20px;
      width: 2px;
      height: 19px;
      background-color: #333; }
  .how_it_works_block .line-h {
    position: absolute;
    top: 35px;
    left: 145px;
    height: 3px;
    width: 100%;
    background: url("/img/line-doshed.png") no-repeat;
    z-index: 0; }
    @media screen and (max-width: 1199px) {
      .how_it_works_block .line-h {
        left: 100px; } }
    @media screen and (max-width: 991px) {
      .how_it_works_block .line-h {
        left: 80px; } }
    @media screen and (max-width: 767px) {
      .how_it_works_block .line-h {
        left: 105px; } }
    @media screen and (max-width: 600px) {
      .how_it_works_block .line-h {
        display: none; } }

@media screen and (max-width: 767px) {
  .sub_title + .row .col-md-12 + div {
    padding: 0 15px; } }

.right_warp {
  text-align: right; }

.dsp_video {
  margin-bottom: 20px; }
  @media screen and (max-width: 480px) {
    .dsp_video {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
      text-align: center; } }
  .dsp_video img {
    width: 100%;
    height: auto;
    max-width: 320px; }
  .dsp_video iframe {
    width: 100%;
    max-width: 270px; }
    @media screen and (min-width: 768px) {
      .dsp_video iframe {
        max-height: 185px; } }
    @media screen and (max-width: 480px) {
      .dsp_video iframe {
        max-height: 185px; } }

.banner_right_2 {
  margin-bottom: 20px; }

.banner_right_1 {
  margin-top: 20px; }

.right-block_category {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 30px;
  max-width: 270px; }

.cat_title {
  font-family: Century Gothic Regular Bold;
  text-align: center;
  font-size: 18px;
  text-decoration: underline; }

.faq_category .faq_cat_ans {
  position: relative;
  margin-top: 10px;
  padding: 15px 60px 15px 15px;
  font-size: 16px;
  color: #333;
  border: 2px solid #0a5a8b;
  cursor: pointer;
  background: white;
  text-align: left; }
  .faq_category .faq_cat_ans.active {
    background-color: #0a5a8b;
    color: white; }

.faq_category .faq_cat_q {
  padding: 15px 15px 15px 18px;
  font-size: 14px;
  background: #D4EEFB;
  text-align: left; }

.faq_category .faq_cat_q:not(.first) {
  display: none; }

.faq_category span.plus, .faq_category span.minus {
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-top: -16px;
  right: 20px;
  width: 32px;
  height: 32px;
  background: #F1F5F8;
  color: #333;
  text-align: center;
  line-height: 32px; }

.faq_category span.plus {
  background-color: #0a5a8b;
  color: white; }

.faq_category span.minus {
  display: none;
  background-color: white;
  color: #333; }

.faq_category .faq_cat_ans.active span.minus {
  display: block; }

.reviews_category {
  margin-top: 20px;
  margin-bottom: 30px; }
  .reviews_category .reviews_title {
    margin-bottom: 10px;
    text-transform: uppercase; }
  .reviews_category .reviews_content {
    position: relative; }
  .reviews_category .carousel > a {
    position: absolute;
    bottom: 0px;
    width: 30px;
    height: 40px; }
    .reviews_category .carousel > a.left {
      left: 0;
      background: #94C3DD url("/img/arrow_left_packages.png") no-repeat center; }
    .reviews_category .carousel > a.right {
      right: 0;
      background: #94C3DD url("/img/arrow_right_packages.png") no-repeat center; }
    .reviews_category .carousel > a img {
      width: 40px; }
  .reviews_category .carousel .item img {
    float: left;
    margin-right: 10px;
    max-width: 70px; }
  .reviews_category .carousel .item p {
    font-size: 15px;
    text-align: left; }
  .reviews_category .carousel .item .comment {
    margin-top: 10px; }
  .reviews_category .carousel .item .author {
    margin-bottom: 0;
    font-size: 18px; }
  .reviews_category .carousel .item .location {
    font-size: 13px;
    text-transform: uppercase;
    color: gray; }
  .reviews_category .carousel .prod_name, .reviews_category .carousel .review_stars {
    text-align: left; }
  .reviews_category .carousel .prod_name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2; }
  .reviews_category .carousel .review_stars {
    margin-bottom: 5px;
    margin-top: 5px; }
    .reviews_category .carousel .review_stars img {
      margin-right: 3px;
      width: 15px; }
  .reviews_category .carousel .item_inner_wrap {
    padding: 15px 10px 20px;
    height: 300px;
    background: #EAF5FB; }
  .reviews_category .carousel .view_all_reviews {
    display: block;
    margin: auto;
    padding-left: 30px;
    width: 200px;
    height: 40px;
    font-size: 14px;
    background: url("/img/button_view_reviews.png") no-repeat;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: -webkit-filter .3s ease-in-out;
    transition: -webkit-filter .3s ease-in-out;
    transition: filter .3s ease-in-out;
    transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out; }
    .reviews_category .carousel .view_all_reviews:hover {
      -webkit-transition: -webkit-filter .3s ease-in-out;
      transition: -webkit-filter .3s ease-in-out;
      transition: filter .3s ease-in-out;
      transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
      -webkit-filter: brightness(95%);
              filter: brightness(95%);
      text-decoration: none; }

.trust-banner {
  margin-bottom: 20px; }
  .trust-banner__background {
    position: relative;
    margin-left: auto;
    max-width: 270px; }
    @media screen and (max-width: 767px) {
      .trust-banner__background {
        margin-right: auto;
        max-width: 310px; } }
  .trust-banner__images {
    position: absolute;
    top: 70px;
    left: 0; }
    @media screen and (max-width: 767px) {
      .trust-banner__images {
        text-align: center; } }
    .trust-banner__images a {
      position: relative;
      display: inline-block; }
      .trust-banner__images a .hover-effect {
        -webkit-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out; }
        @media screen and (max-width: 767px) {
          .trust-banner__images a .hover-effect {
            text-align: right; } }
    .trust-banner__images a.link_1:hover .hover-effect {
      width: 270px; }
      .trust-banner__images a.link_1:hover .hover-effect a {
        font-size: 14px; }
    .trust-banner__images a.link_2:hover .hover-effect {
      width: 270px; }
      .trust-banner__images a.link_2:hover .hover-effect a {
        font-size: 14px; }
    .trust-banner__images a.link_3:hover .hover-effect {
      width: 270px; }
      .trust-banner__images a.link_3:hover .hover-effect a {
        font-size: 14px; }
    .trust-banner__images a.link_4:hover .hover-effect {
      width: 270px; }
      .trust-banner__images a.link_4:hover .hover-effect a {
        font-size: 14px; }
    .trust-banner__images a.link_5:hover .hover-effect {
      width: 270px; }
      .trust-banner__images a.link_5:hover .hover-effect a {
        font-size: 14px; }
  .trust-banner__img {
    margin-bottom: 5px;
    cursor: pointer; }
  @media screen and (max-width: 767px) {
    .trust-banner__background_img {
      display: none; } }
  .trust-banner__background_img_mob {
    display: none; }
    @media screen and (max-width: 767px) {
      .trust-banner__background_img_mob {
        display: block;
        width: 100%;
        max-width: 310px;
        height: 400px; } }

.hover-effect {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 60px;
  background: black;
  opacity: 0.5;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  line-height: 60px;
  cursor: pointer;
  -webkit-border-top-left-radius: 30px;
          border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
          border-bottom-left-radius: 30px; }
  .hover-effect a {
    display: inline-block;
    margin-right: 16px;
    margin-top: 17px;
    font-size: 0;
    font-weight: bold;
    text-decoration: underline;
    color: white; }

.online-store__bottom-banner {
  margin-top: 20px; }
  @media screen and (max-width: 767px) {
    .online-store__bottom-banner {
      display: none; } }
  .online-store__bottom-banner_mob {
    display: none; }
    @media screen and (max-width: 767px) {
      .online-store__bottom-banner_mob {
        display: block;
        margin-bottom: 15px;
        text-align: center; }
        .online-store__bottom-banner_mob img {
          width: 100%;
          max-width: 310px; } }

.right_warp_mobile .questions_banner_mob, .right_warp_mobile .gift_banner_mob, .right_warp_mobile .psoriasis_treatment_banner_mob {
  display: none; }

@media screen and (max-width: 767px) {
  .right_warp_mobile {
    display: block; }
    .right_warp_mobile .dsp_video iframe {
      max-width: 100%; }
    .right_warp_mobile .questions_banner {
      display: none; }
      .right_warp_mobile .questions_banner_mob {
        display: block;
        margin: 0 auto 20px auto;
        width: 100%;
        max-width: 310px; }
    .right_warp_mobile .gift_banner {
      display: none; }
      .right_warp_mobile .gift_banner_mob {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 310px; }
    .right_warp_mobile .psoriasis_treatment_banner {
      display: none; }
      .right_warp_mobile .psoriasis_treatment_banner_mob {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 310px; } }

@media screen and (max-width: 767px) {
  .right_warp_mobile .reviews_category {
    margin: 0 auto 20px auto;
    max-width: 310px; } }

@media screen and (max-width: 767px) {
  .social_block {
    display: none; } }
