.banner_video_tab {
  display: none; }

.home_page_sellers .online_store_btn {
  display: none; }

.right_side .steroids_mob, .right_side .tested_mob {
  display: none; }

.right_side_close {
  display: none; }
  @media screen and (min-width: 768px) {
    .right_side_close {
      opacity: 0; } }

.right_side .banner_section_1_left img.banner-sceptical_tab {
  display: none; }

.close_modal {
  line-height: 38px; }

.modal-dialog, .modal-content, .modal-body {
  width: 768px;
  height: 380px; }

.home_page_title {
  margin-bottom: 13px;
  font-size: 34px; }
  .home_page_title h1 {
    font-size: 34px; }

.right_side, .left_side {
  margin-bottom: 30px; }
  @media screen and (max-width: 424px) {
    .right_side, .left_side {
      margin-bottom: 0; } }

.how_do_you_like_title_2, .skin_complains_title_2 {
  bottom: 26px; }

.bay_with_confidence_img, .how_do_you_like_img, .skin_complains_img, .you_may_like_img {
  margin-bottom: 13px; }

.ingredients_section .skin_complains_img, .dead_sea_minerals_section .how_do_you_like_img {
  margin-bottom: 0; }

.bay_with_confidence_banner .bay_with_confidence_img {
  margin-bottom: 5px; }

.ingredient {
  cursor: pointer; }

.ingredients_sub_section {
  height: 520px; }

.ingredient_title {
  margin-top: 13px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold; }

.ingredient_desc {
  margin: 2px 0;
  padding-right: 10px;
  width: -webkit-calc(100% - 115px);
  width: calc(100% - 115px);
  color: #868686;
  font-size: 12px;
  line-height: 1.3; }

.ingredient_read {
  width: -webkit-calc(100% - 115px);
  width: calc(100% - 115px); }
  .ingredient_read a {
    color: #5C84A7;
    font-size: 12px; }
    @media screen and (max-width: 767px) {
      .ingredient_read a {
        color: white; } }

@media screen and (min-width: 425px) {
  .home_page_article_text_title {
    margin-top: -3px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold; } }

.home_page_article_text_content {
  color: #999999; }

.home_page_article_text_read_more a {
  font-size: 14px;
  color: #5C84A7; }

.consumer_btn, .quiz_btn {
  margin-bottom: 20px;
  width: 270px;
  height: 50px;
  font-family: Century Gothic Regular Bold;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #333; }

.consumer_btn {
  padding-left: 35px;
  background: url("/img/button_survey.png") no-repeat; }
  .consumer_btn span {
    max-width: 200px;
    display: inline-block;
    line-height: 1.5; }

.quiz_btn {
  line-height: 1.5;
  padding-left: 70px;
  padding-right: 25px;
  background: url("/img/button_questionary.png") no-repeat; }

@media screen and (max-width: 767px) {
  .home_bottom_btn {
    display: none; } }

.home_bottom_btn:hover {
  text-decoration: none; }

.home_bottom_btn:focus {
  outline: none;
  text-decoration: none; }

.home_bottom_btn > div {
  -webkit-transition: -webkit-filter .3s ease-in-out;
  transition: -webkit-filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out; }
  .home_bottom_btn > div:hover {
    -webkit-transition: -webkit-filter .3s ease-in-out;
    transition: -webkit-filter .3s ease-in-out;
    transition: filter .3s ease-in-out;
    transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
    -webkit-filter: brightness(106%);
            filter: brightness(106%); }

.left_side_to_the_store {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 270px; }
  @media screen and (max-width: 424px) {
    .left_side_to_the_store {
      display: none; } }

.home_page_article {
  margin-bottom: 23px;
  cursor: pointer; }
  .home_page_article:last-of-type {
    margin-bottom: 0; }

.left_side_to_the_store, .store_finder_section, .you_may_like_btn, .online_store_btn {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.left_side_to_the_store:hover, .store_finder_section:hover, .you_may_like_btn:hover, .online_store_btn:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-filter: brightness(106%);
          filter: brightness(106%); }

.you_may_like_btn_add_to_basket {
  right: 5px; }

.you_may_like_btn_details {
  top: 5px;
  left: 75px; }

.dead_sea_minerals_title_1 {
  left: 15px; }

.modal_icons_section .modal_icon_wrap .modal_icon_text {
  padding-left: 10px;
  margin-left: 5px;
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px); }
  @media screen and (max-width: 1199px) {
    .modal_icons_section .modal_icon_wrap .modal_icon_text {
      width: -webkit-calc(100% - 70px);
      width: calc(100% - 70px); } }
  @media screen and (max-width: 360px) {
    .modal_icons_section .modal_icon_wrap .modal_icon_text {
      width: -webkit-calc(100% - 60px);
      width: calc(100% - 60px); } }

.modal_icons_section .modal_icon_wrap:hover {
  cursor: pointer; }
  .modal_icons_section .modal_icon_wrap:hover .modal_icon_text {
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
    background-color: #0a5a8b;
    color: white; }

@media screen and (max-width: 1199px) {
  .modal_icons_section .modal_icon_wrap .modal_icon_text_ru {
    font-size: 13px;
    padding-left: 3px; } }

@media screen and (max-width: 767px) {
  .home_page_menu_section .right_menu {
    display: block; }
    .home_page_menu_section .right_menu .menu-leaf_close {
      display: inline-block; }
  .left_side {
    display: none;
    left: auto !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 270px;
    background-color: #0a5a8b;
    opacity: 0; }
    .left_side .ingredient_title, .left_side .ingredient_read, .left_side .you_may_like_sub_title, .left_side .left_side_articles a {
      color: white; }
  .left_side_close {
    display: none !important; }
  .right_side_close {
    position: fixed;
    left: auto;
    right: 270px;
    top: 229px;
    padding: 0 8px;
    font-size: 22px;
    background: #0a5a8b;
    color: #fff;
    cursor: pointer;
    z-index: 100; }
  .left_side_btn {
    display: none !important; }
  .right_side {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
    .right_side .tab_hidden {
      display: none; }
    .right_side .steroids_mob, .right_side .tested_mob {
      display: block; }
    .right_side h1 {
      text-align: center;
      font-size: 30px; }
    .right_side .modal_icons_section {
      display: none;
      margin-top: 10px; }
      .right_side .modal_icons_section .modal_icon_text {
        padding-left: 5px; }
    .right_side .banner_section_1_left {
      width: 100%;
      text-align: center;
      margin: 5px 0;
      float: none; }
      .right_side .banner_section_1_left img.banner-sceptical {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        max-width: 415px; } }
      @media screen and (max-width: 767px) and (max-width: 424px) {
        .right_side .banner_section_1_left img.banner-sceptical {
          max-width: 310px; } }

@media screen and (max-width: 767px) {
    .right_side .banner_section_1_right {
      margin-top: 8px;
      width: 100%;
      text-align: center; }
    .right_side .banner_section_1_right_1, .right_side .banner_section_1_right_2 {
      float: left;
      width: 50%;
      margin: 0; } }
    @media screen and (max-width: 767px) and (max-width: 767px) {
      .right_side .banner_section_1_right_1, .right_side .banner_section_1_right_2 {
        float: none;
        display: inline-block;
        width: 49%;
        text-align: center; } }
    @media screen and (max-width: 767px) and (max-width: 424px) {
      .right_side .banner_section_1_right_1, .right_side .banner_section_1_right_2 {
        width: 100%; } }

@media screen and (max-width: 767px) {
      .right_side .banner_section_1_right_1 img, .right_side .banner_section_1_right_2 img {
        width: 100%;
        height: auto;
        max-width: 310px;
        margin: auto; } }
  @media screen and (max-width: 767px) and (max-width: 424px) {
    .right_side .banner_section_1_right_1 {
      margin-bottom: 18px; } }

@media screen and (max-width: 767px) {
    .right_side .wrap_section_2 {
      border-bottom: 1px solid white; }
      .right_side .wrap_section_2 > div {
        margin: 0 auto; }
    .right_side .free_delivery_section {
      max-width: 290px;
      padding: 3px 0; }
    .right_side .result_section {
      max-width: 270px;
      padding: 3px 0; }
      .right_side .result_section .result_text {
        margin-left: 10px; }
    .right_side .contact_section {
      max-width: 245px;
      padding: 10px 0; }
    .right_side .youtube_video {
      float: none;
      text-align: center;
      margin-bottom: 20px;
      margin-right: 0; }
      .right_side .youtube_video iframe {
        width: 100%; } }
      @media screen and (max-width: 767px) and (max-width: 480px) {
        .right_side .youtube_video iframe {
          max-width: 420px;
          height: 220px; } }

@media screen and (max-width: 767px) {
    .right_side .reviews_section {
      width: 100%; }
      .right_side .reviews_section .reviews_section_title_text {
        width: 100%; }
        .right_side .reviews_section .reviews_section_title_text .margin_auto {
          font-weight: normal; }
      .right_side .reviews_section .carousel .review_title {
        max-width: 270px;
        margin: 0 auto; }
      .right_side .reviews_section .carousel .review_author {
        max-width: 250px;
        margin: 0 auto; }
      .right_side .reviews_section .carousel_reviews_left {
        left: 90px; }
      .right_side .reviews_section .carousel_reviews_right {
        right: 90px; }
      .right_side .reviews_section .carousel-indicators {
        width: 150px;
        margin-left: -75px; }
      .right_side .reviews_section .carousel-indicators li {
        width: 14px;
        height: 14px;
        border: 2px solid white; }
      .right_side .reviews_section .carousel-indicators .active {
        width: 16px;
        height: 16px; }
    .right_side .twitter_section .twitter {
      width: 100%; }
    .right_side .twitter_section .twitter_right {
      width: 100%; }
      .right_side .twitter_section .twitter_right .carousel-inner .item {
        -ms-touch-action: cross-slide-x;
            touch-action: cross-slide-x; }
      .right_side .twitter_section .twitter_right .carousel-inner .item img {
        margin: 0 auto; }
    .right_side .twitter_section .before_after_carousel_item_text {
      text-decoration: none; }
    .right_side .home_page_articles_section .home_page_articles {
      width: 100%; } }
    @media screen and (max-width: 767px) and (max-width: 767px) {
      .right_side .home_page_articles_section .home_page_articles {
        float: none; } }

@media screen and (max-width: 767px) {
    .right_side .home_page_articles_section .home_page_sellers > img, .right_side .home_page_articles_section .sellers_banner {
      display: none; }
    .right_side .home_page_articles_section .home_page_article_img img {
      max-width: 145px; }
    .right_side .home_page_articles_section .home_page_article_text_content {
      color: #878787; }
    .right_side .home_page_articles_section .home_page_article_text_title {
      line-height: 1.2;
      text-transform: uppercase; }
    .right_side .home_page_articles_section .home_page_article_text_content {
      height: 60px;
      line-height: 1.3; }
    .right_side .home_page_sellers {
      width: 100%;
      float: none;
      margin-top: 20px;
      text-align: center; }
      .right_side .home_page_sellers .store_finder_section, .right_side .home_page_sellers .online_store_btn {
        margin: 0 auto 20px;
        width: 270px; } }
  @media screen and (max-width: 767px) and (max-width: 424px) {
    .modal_components .modal-body .modal_right p, .modal_minerals .modal-body .modal_right p, .modal_no_steroids .modal-body .modal_right p, .modal_tested .modal-body .modal_right p, .modal_results .modal-body .modal_right p, .modal_proofing .modal-body .modal_right p {
      font-size: 15px; } }

@media screen and (max-width: 767px) {
  .modal_components .modal-body .modal_read_more, .modal_minerals .modal-body .modal_read_more, .modal_no_steroids .modal-body .modal_read_more, .modal_tested .modal-body .modal_read_more, .modal_results .modal-body .modal_read_more, .modal_proofing .modal-body .modal_read_more {
    bottom: 5px; }
  .modal_components .modal-dialog, .modal_minerals .modal-dialog, .modal_no_steroids .modal-dialog, .modal_tested .modal-dialog, .modal_results .modal-dialog, .modal_proofing .modal-dialog {
    margin-top: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .modal_components .modal-content, .modal_minerals .modal-content, .modal_no_steroids .modal-content, .modal_tested .modal-content, .modal_results .modal-content, .modal_proofing .modal-content {
    width: 100%;
    height: auto; }
  .modal_components .modal-body, .modal_components .modal_right, .modal_minerals .modal-body, .modal_minerals .modal_right, .modal_no_steroids .modal-body, .modal_no_steroids .modal_right, .modal_tested .modal-body, .modal_tested .modal_right, .modal_results .modal-body, .modal_results .modal_right, .modal_proofing .modal-body, .modal_proofing .modal_right {
    width: 100%; }
  .modal_components .popup_icon, .modal_minerals .popup_icon, .modal_no_steroids .popup_icon, .modal_tested .popup_icon, .modal_results .popup_icon, .modal_proofing .popup_icon {
    display: none; }
  .modal_components .modal_left, .modal_minerals .modal_left, .modal_no_steroids .modal_left, .modal_tested .modal_left, .modal_results .modal_left, .modal_proofing .modal_left {
    margin-top: -10px; }
  .modal_components .modal_title, .modal_minerals .modal_title, .modal_no_steroids .modal_title, .modal_tested .modal_title, .modal_results .modal_title, .modal_proofing .modal_title {
    height: auto; }
  .modal_components .modal_title_l1, .modal_minerals .modal_title_l1, .modal_no_steroids .modal_title_l1, .modal_tested .modal_title_l1, .modal_results .modal_title_l1, .modal_proofing .modal_title_l1 {
    font-size: 26px; }
  .modal_components .modal_title_l2, .modal_minerals .modal_title_l2, .modal_no_steroids .modal_title_l2, .modal_tested .modal_title_l2, .modal_results .modal_title_l2, .modal_proofing .modal_title_l2 {
    font-size: 24px; }
  .modal_components .modal_text, .modal_minerals .modal_text, .modal_no_steroids .modal_text, .modal_tested .modal_text, .modal_results .modal_text, .modal_proofing .modal_text {
    font-size: 14px; }
  .banner_section_1_right_1 img, .banner_section_1_right_2 img {
    display: none; }
  .banner_section_1_right_1 .cs_banner_mob, .banner_section_1_right_1 .questions_banner_mob, .banner_section_1_right_2 .cs_banner_mob, .banner_section_1_right_2 .questions_banner_mob {
    display: block; }
  .banner_section_1_right_1 .client_banner_mob, .banner_section_1_right_1 .gift_banner_mob, .banner_section_1_right_2 .client_banner_mob, .banner_section_1_right_2 .gift_banner_mob {
    display: block; } }

@media screen and (min-width: 768px) {
  .cs_banner_mob, .questions_banner_mob {
    display: none; }
  .client_banner_mob, .gift_banner_mob {
    display: none; }
  .modal_title_l1, .modal_title_l2 {
    padding-right: 30px; } }

@media screen and (min-width: 992px) {
  .left_side {
    display: block !important; } }

@media screen and (min-width: 768px) {
  .left_side {
    opacity: 1 !important; }
  .right_side_close {
    display: none !important; } }

.article_img_mob {
  display: none; }

@media screen and (max-width: 470px) {
  .modal_icons_section .modal_icon_text .margin_auto {
    font-size: 13px;
    line-height: 1.2; } }

@media screen and (max-width: 360px) {
  .modal_icons_section .modal_icon_text .margin_auto {
    font-size: 12px;
    line-height: 1.2; } }

@media screen and (max-width: 424px) {
  .right_side {
    padding-left: 5px;
    padding-right: 5px; }
    .right_side h1 {
      font-size: 24px; }
    .right_side .reviews_section .review_text {
      font-size: 16px; }
    .right_side .reviews_section .carousel_reviews_left {
      left: 0; }
    .right_side .reviews_section .carousel_reviews_right {
      right: 0; }
    .right_side .twitter_section {
      max-height: 250px; }
      .right_side .twitter_section .twitter {
        width: 100%;
        margin-right: 0;
        max-height: 250px; }
        .right_side .twitter_section .twitter iframe {
          max-height: 250px !important; }
      .right_side .twitter_section .twitter_right {
        width: 100%;
        margin-bottom: 15px; }
      .right_side .twitter_section .adw_1 {
        padding-top: 0;
        padding-bottom: 10px; }
      .right_side .twitter_section .adw_1_img {
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 280px;
        text-align: center;
        background: white;
        display: none; }
      .right_side .twitter_section .adw_1_content {
        width: 100%; }
      .right_side .twitter_section .adw_1_content_title, .right_side .twitter_section .adw_1_content_stars {
        text-align: center; }
      .right_side .twitter_section .adw_1_content_stars {
        margin-bottom: 10px; }
      .right_side .twitter_section .adw_1_content_text, .right_side .twitter_section .adw_link {
        padding-left: 5px; }
      .right_side .twitter_section .adw_link {
        font-size: 14px; }
      .right_side .twitter_section .before_after_carousel_left, .right_side .twitter_section .before_after_carousel_right {
        top: 50%;
        margin-top: -15px; }
        .right_side .twitter_section .before_after_carousel_left img, .right_side .twitter_section .before_after_carousel_right img {
          width: 30px;
          height: 30px; }
      .right_side .twitter_section .before_after_carousel_item_text {
        text-transform: inherit;
        font-size: 15px;
        font-weight: normal; }
    .right_side .home_page_article_text {
      padding: 0;
      width: 100%;
      position: relative; }
      .right_side .home_page_article_text .home_page_article_text_title {
        display: inline-block;
        margin-left: 105px;
        font-size: 16px;
        line-height: 1.3; }
      .right_side .home_page_article_text .home_page_article_text_content {
        margin-top: -18px;
        padding-top: 15px;
        height: auto;
        font-size: 16px; }
        .right_side .home_page_article_text .home_page_article_text_content p {
          margin-bottom: 0;
          font-size: 15px; }
      .right_side .home_page_article_text .home_page_article_text_read_more {
        padding-right: 10px; }
      .right_side .home_page_article_text .article_img_mob {
        display: block;
        float: left;
        margin-right: 5px;
        padding-top: 3px;
        max-width: 100px; }
    .right_side .home_page_article_img {
      display: none; }
  .modal_components .modal-dialog, .modal_minerals .modal-dialog, .modal_no_steroids .modal-dialog, .modal_tested .modal-dialog, .modal_results .modal-dialog, .modal_proofing .modal-dialog {
    width: 300px; }
  .modal_components .modal_title_l1, .modal_minerals .modal_title_l1, .modal_no_steroids .modal_title_l1, .modal_tested .modal_title_l1, .modal_results .modal_title_l1, .modal_proofing .modal_title_l1 {
    font-size: 22px; }
  .modal_components .modal_title_l2, .modal_minerals .modal_title_l2, .modal_no_steroids .modal_title_l2, .modal_tested .modal_title_l2, .modal_results .modal_title_l2, .modal_proofing .modal_title_l2 {
    font-size: 20px; }
  .store_finder_section, .online_store_btn {
    display: none !important; } }

.store_finder_section_mob, .online_store_btn_mob, .store_finder_section_mob_blog {
  display: none !important; }
  @media screen and (max-width: 424px) {
    .store_finder_section_mob, .online_store_btn_mob, .store_finder_section_mob_blog {
      display: block !important; } }

.store_finder_section_mob {
  height: 69px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #8AB7D1), color-stop(50%, #92C3DC));
  background: -webkit-linear-gradient(bottom, #8AB7D1 50%, #92C3DC 50%);
  background: linear-gradient(to top, #8AB7D1 50%, #92C3DC 50%); }
  .store_finder_section_mob:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 95px;
    height: 69px;
    background: url("/img/button_locally_mob.png") no-repeat; }

.online_store_btn_mob {
  height: 69px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #8AB7D1), color-stop(50%, #92C3DC));
  background: -webkit-linear-gradient(bottom, #8AB7D1 50%, #92C3DC 50%);
  background: linear-gradient(to top, #8AB7D1 50%, #92C3DC 50%); }
  .online_store_btn_mob:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 95px;
    height: 69px;
    background: url("/img/button_online_store_mob.png") no-repeat; }
  .online_store_btn_mob .online_store_text {
    position: absolute; }

.left_side_mask {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
  z-index: 9; }
  @media screen and (min-width: 767px) {
    .left_side_mask {
      display: none !important; } }

@media screen and (max-width: 767px) {
  .home_page_menu_section + .container {
    position: relative; } }

.to_the_store_btn {
  right: 20px; }

.to_the_store_btn_lang {
  right: 65px;
  top: 3px; }

.right_side .home_page_sellers .online_store_btn .online_store_text_lang {
  top: 0;
  margin-left: 0;
  right: 55px; }
  .right_side .home_page_sellers .online_store_btn .online_store_text_lang span {
    margin-left: 0;
    font-size: 24px; }

.online_store_text_ru span {
  font-size: 18px !important; }

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .review_title_right_l1, .author_name {
    font-size: 15px; } }

.free_delivery_text_l1 {
  font-size: 20px; }
  @media screen and (min-width: 1200px) {
    .free_delivery_text_l1 {
      padding-top: 5px; } }

@media screen and (max-width: 767px) {
  .banner_section_2 .result_text {
    font-size: 15px; } }

@media screen and (max-width: 1199px) {
  .banner_section_2 .result_text span {
    font-size: 21px; } }

.banner_section_2 .result_section {
  padding-left: 0;
  padding-right: 0; }

.skin_complains_title_2, .how_do_you_like_title_1 {
  font-size: 21px; }

.bay_with_confidence_title, .you_may_like_title {
  font-size: 12px;
  left: 14px; }

.dead_sea_minerals_title_1 {
  font-size: 14px;
  top: 15px; }

.you_may_like_btn_add_to_basket {
  font-size: 13px;
  top: 27px;
  left: 75px; }

.to_the_store_btn {
  font-size: 21px; }
  .to_the_store_btn span {
    font-size: 22px; }

.reviews_section_title_text {
  font-size: 17px; }

.review_title_right_l1 {
  font-size: 15px; }

.modal_icons_section_mob {
  display: none; }
  @media screen and (max-width: 767px) {
    .modal_icons_section_mob {
      display: block; } }
  .modal_icons_section_mob ul {
    padding: 0;
    list-style: none; }
    .modal_icons_section_mob ul li {
      display: table;
      float: left;
      margin-bottom: 5px;
      padding-left: 55px;
      padding-right: 5px;
      width: 50%;
      height: 50px;
      cursor: pointer; }
      @media screen and (max-width: 424px) {
        .modal_icons_section_mob ul li {
          padding-left: 51px;
          padding-right: 1px; } }
      .modal_icons_section_mob ul li:hover a {
        background-color: #0a5a8b;
        text-decoration: none;
        color: white; }
      .modal_icons_section_mob ul li a {
        display: table-cell;
        vertical-align: middle;
        padding-left: 5px;
        min-height: 50px;
        color: #333; }
        @media screen and (max-width: 424px) {
          .modal_icons_section_mob ul li a {
            padding-left: 3px;
            font-size: 12px;
            font-weight: bold;
            color: #0a5a8b;
            line-height: 1.3; } }
      .modal_icons_section_mob ul li span {
        display: block; }
      .modal_icons_section_mob ul li.body_modal_mob {
        background: url("/img/components_mob.png") no-repeat; }
        .modal_icons_section_mob ul li.body_modal_mob:hover {
          background: url("/img/components-on-mouse_mob.png") no-repeat; }
      .modal_icons_section_mob ul li.scalp_modal_mob {
        background: url("/img/minerals_mob.png") no-repeat; }
        .modal_icons_section_mob ul li.scalp_modal_mob:hover {
          background: url("/img/minerals-on-mouse_mob.png") no-repeat; }
      .modal_icons_section_mob ul li.nails_modal_mob {
        background: url("/img/no-steroid_mob.png") no-repeat; }
        .modal_icons_section_mob ul li.nails_modal_mob:hover {
          background: url("/img/no-steroid-on-mouse_mob.png") no-repeat; }
      .modal_icons_section_mob ul li.knee_modal_mob {
        background: url("/img/tested_mob.png") no-repeat; }
        .modal_icons_section_mob ul li.knee_modal_mob:hover {
          background: url("/img/tested-on-mouse_mob.png") no-repeat; }
      .modal_icons_section_mob ul li.hand_modal_mob {
        background: url("/img/results_mob.png") no-repeat; }
        .modal_icons_section_mob ul li.hand_modal_mob:hover {
          background: url("/img/results-on-mouse_mob.png") no-repeat; }
      .modal_icons_section_mob ul li.child_modal_mob {
        background: url("/img/proofing_mob.png") no-repeat; }
        .modal_icons_section_mob ul li.child_modal_mob:hover {
          background: url("/img/proofing-on-mouse_mob.png") no-repeat; }

.store_finder_l2_it {
  right: 3px;
  font-size: 21px; }

.store_finder_l2_ru {
  font-size: 21px; }

.store_finder_l1_it {
  right: 3px; }

.to_the_store_btn_lang_it {
  display: table;
  height: 65px; }
  .to_the_store_btn_lang_it span {
    display: table-cell;
    vertical-align: middle; }

.to_the_store_btn_lang_ru {
  right: 35px; }

@media screen and (max-width: 767px) {
  .store_finder_section_link, .online_store_btn_link {
    display: inline-block; } }

.right_side .twitter_section .adw_1_img_mob {
  display: none; }
  @media screen and (max-width: 424px) {
    .right_side .twitter_section .adw_1_img_mob {
      display: block;
      max-width: 170px; } }

@media screen and (max-width: 424px) {
  .adw_1_content_title {
    padding: 5px 0; } }

@media screen and (max-width: 424px) {
  .right_side .home_page_article_text .home_page_article_text_title {
    display: none; }
  .right_side .home_page_article_text .article_img_mob {
    display: none; } }

.right_side .home_page_article_text .article_img_mob_small {
  display: none; }
  @media screen and (max-width: 424px) {
    .right_side .home_page_article_text .article_img_mob_small {
      display: block; } }

.right_side .home_page_article_text .home_page_article_text_title_mob {
  display: none; }
  @media screen and (max-width: 424px) {
    .right_side .home_page_article_text .home_page_article_text_title_mob {
      text-transform: uppercase;
      font-size: 16px;
      color: #333;
      display: block; } }

@media screen and (max-width: 424px) {
  img.banner-sceptical {
    display: none; } }

img.banner-sceptical-mob {
  display: none; }
  @media screen and (max-width: 424px) {
    img.banner-sceptical-mob {
      display: block;
      margin: auto; } }

.skin_complains_section_mob, .how_do_you_like_section_mob, .bay_with_confidence_section_mob, .you_may_like_section_mob, .dead_sea_minerals_section_mob, .ingredients_section_mob {
  display: none; }
  @media screen and (max-width: 424px) {
    .skin_complains_section_mob, .how_do_you_like_section_mob, .bay_with_confidence_section_mob, .you_may_like_section_mob, .dead_sea_minerals_section_mob, .ingredients_section_mob {
      display: block; } }

.bay_with_confidence_section_mob .bay_with_confidence_banner {
  text-align: center; }
  .bay_with_confidence_section_mob .bay_with_confidence_banner img {
    max-width: 310px; }

.you_may_like_section_mob .you_may_like_sub_title, .you_may_like_section_mob .you_may_like_sub_stars {
  text-align: center; }

.you_may_like_section_mob .you_may_like_btn {
  height: 49px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #8AB8D2), color-stop(50%, #A2CBE1));
  background: -webkit-linear-gradient(bottom, #8AB8D2 50%, #A2CBE1 50%);
  background: linear-gradient(to top, #8AB8D2 50%, #A2CBE1 50%); }
  .you_may_like_section_mob .you_may_like_btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 67px;
    height: 49px;
    background: url("/img/button_bag_mob.png") no-repeat; }

.you_may_like_section_mob .you_may_like_btn_details, .you_may_like_section_mob .you_may_like_btn_add_to_basket {
  left: 135px; }

.you_may_like_section_mob .you_may_like_sub_stars {
  padding-left: 0;
  padding-right: 33px; }

.right_side .modal_icons_section_mob_bottom {
  display: none; }
  @media screen and (max-width: 424px) {
    .right_side .modal_icons_section_mob_bottom {
      display: block; } }

.ingredients_section_mob .ingredients_sub_section, .dead_sea_minerals_section_mob .ingredients_sub_section {
  height: 300px; }

.ingredients_section_mob .ingredient_title, .ingredients_section_mob .ingredient_desc, .ingredients_section_mob .ingredient_read, .dead_sea_minerals_section_mob .ingredient_title, .dead_sea_minerals_section_mob .ingredient_desc, .dead_sea_minerals_section_mob .ingredient_read {
  text-align: left; }

.ingredients_section_mob .ingredient_read a, .dead_sea_minerals_section_mob .ingredient_read a {
  color: #5c84a7; }

@media screen and (max-width: 424px) {
  .home_page_menu_section .right_menu {
    display: none; }
  .home_page_menu_section .about-us-mobile {
    right: 0 !important;
    margin-right: 0 !important; } }

@media screen and (max-width: 424px) {
  .store_finder_l1, .store_finder_l2, .online_store_text {
    right: auto;
    left: 100px; } }

@media screen and (max-width: 424px) {
  .online_store_text {
    text-align: left; } }

.img_mob_max_width {
  width: 100%;
  max-height: 70px; }

.home_page_article img {
  float: left;
  margin-right: 10px; }
  @media screen and (max-width: 767px) {
    .home_page_article img {
      max-width: 145px; } }
  @media screen and (max-width: 424px) {
    .home_page_article img {
      max-width: 100px; } }

@media screen and (max-width: 767px) {
  .home_page_article_text_content {
    height: auto !important; } }

@media screen and (max-width: 424px) {
  .home_page_article_text_title {
    font-size: 16px; } }

.skin_complains_title_2_ru {
  font-size: 19px; }

.how_do_you_like_title_2_ru {
  font-size: 15px;
  left: 10px; }

.how_do_you_like_title_1_ru {
  font-size: 19px; }
