.left_part
	width calc(100% - 280px)
	padding-right 20px
.right_sidebar
	width 280px
	float left
.aylin_banner
	padding 10px
	background #EAF5FB
	margin-left 10px
	& .l1
		font-size 18px
		font-weight bold
		margin 10px 0
		color #315B09
	& .l2
		font-size 16px
		font-weight bold
		margin 10px 0
		color #8EB876
	& .l3
		font-size 16px
	& .l4
		font-size 14px
		margin 0
		font-weight bold
		& a
			color #8EB876

































