@import "basic.styl"
@import "back_top.styl"
.btn
	margin 0 5px
.form_lang .form-control
	margin 5px 0
.no_border
	border none
	box-shadow none
	&:focus
		border none
		box-shadow none
.form-control .no_border
	width 20px
.small_select
	width:auto;
.label_for_input
	margin 5px 10px
	height 34px
	padding-top 7px

.text_center
	text-align center !important
.images img
	width 150px
	margin 10px
.images
	float left
	position relative
.images a
	position absolute
	top 0
	right 0
label .btn
	margin 0
.error
	color #c9302c
	font-size 26px
	text-align center
.form_publish
	height 25px
	width 25px
.admin_panel_head div:not(.clearfix)
	text-align center
	color #FFFFFF
	background #0055aa
	border-left: #fff 1px solid
	padding 5px 0
	border-radius 5px
.type_head
	margin 10px auto
	width:200px
	text-align center
	display block
.type_body
	display none
.category
	background #d1fffa
	border-radius 20px
	border 1px solid #afd9ee
.mar_top_7px
	margin-top 7px

.wide_btn
	width:250px
	margin 10px auto
.attribute_section{
	margin 10px 0
}
.form_image_header
	text-align center
	color #FFFFFF
	& div
		margin 0 0 10px 0