@import "colors.styl"
.article_banners_1
	width 270px
.result_section
	padding 0
	border-top 2px solid #ffffff
	border-bottom 2px solid #ffffff
.article_slider
	width calc(100% - 300px)
	margin 20px 30px 20px 0

.banner_section_2 img
	margin 13px 0
.home_page_sellers iframe
	width 270px
	height 196px
.home_page_article
	margin-bottom: 10px;
.article_title
	text-align center
	font-size 20px
	font-family "Century Gothic Regular Bold"
	color #305C07
.article_content
	font-size 16px
	text-align justify
.banner_section_1_right_1
	margin 20px 0
footer
	margin-top 20px
