@import "colors.styl"
.your_basket_text
	color main_color_1
	font-family "Century Gothic Regular Bold"
	font-size 30px
	top 13px
	left 25px
.soc_item
	margin 0 0 0 15px
.hover_dark:hover
	-webkit-filter brightness(75%)
.prod_prefooter
	background main_color_4
	margin 30px 0
	padding 5px
	font-size 16px
.free_delivery_text_l1
	font-size 24px
	font-weight bold
.free_delivery_text_l2
	margin-top -5px
.result_text_l1
	margin 0
	& span
		font-weight bold
		font-size 24px
.local_store_text_l1
	color main_color_1
	font-weight bold
.local_store_text
	padding-top 5px
	text-align right
.local_store_text_l2
	font-family "Century Gothic Regular Bold"
	color: main_color_1
	font-size 24px
	margin-top -5px
.prod_prefooter_item_hover
	height 5px
	background main_color_1
	width 100%
	position absolute
	bottom -6px
	left 0
	display: none
.prod_prefooter_item
	height 50px
	& a
		color font_color
	&:hover
		.prod_prefooter_item_hover
			display block
.cart_table_head
	color main_color_1
	font-size 18px
	margin 30px 0
	font-weight bold
.cart_unit_price,
.cart_quantity_basket,
.cart_dell,
.cart_subtotal
	width 15%
	text-align center
	font-size 16px
.basket_left_section
	width calc(100% - 300px)
.basket_right_section
	width 300px
.cart_prod_name
	width 40%
	padding-left 20px
.cart_prod_name_img
	margin 0 10px 0 0
.cart_prod_name_text
	width calc(100% - 110px)
	font-size 18px
	color #335A07
	font-weight bold
.cart_table_row
	margin-bottom 10px
	border-bottom 1px solid #ededed
	padding-bottom 10px
	& .flex
		height 100px
	&:last-child
		border none
		padding 0
		margin 0
.quantity_input
	width 40px
	text-align center
	border 1px solid #efefef
	margin 0 5px
.cart_quantity_basket img
	cursor pointer
.basket_right_section
	width 300px
	height auto
	background #0A5C8C
	padding-bottom 20px
#review_your_cart
	text-align center
	color #FFC04D
	font-family "Century Gothic Regular Bold"
	font-size 22px
	margin-top 20px
#quantity_of_products
	text-align center
	color #FFFFFF
	font-size 18px
	margin-top 20px
#quantity_of_products_num
	width 100px
	height 30px
	background #FFFFFF
	text-align center
	margin-top 5px
	padding 3px
	font-size 18px
#promo_l1
	text-align center
	color #FFFFFF
	margin-top 20px
	font-size 18px
#promo_l2
	padding 0 65px
	color #ffffff
	font-size 13px
	text-align center
#check_promo_code
	margin-top 5px
	& input
		padding 3px 15px
.submit_check_promo_code
	position absolute
	top 5px
	right 0
	cursor pointer
.cart_order_total
	margin-top 20px
	color #FFFFFF
	font-size 16px
	text-align center
	& #currency, #value
		font-family "Century Gothic Regular Bold"
		font-size 26px
.submit_proceed_order_text
	position absolute
	top 5px
	left 55px
	color #FFFFFF
	font-family "Century Gothic Regular Bold"
	font-size 20px
	cursor pointer
.submit_proceed_order
	cursor pointer
.add_more_prods_l1
	background #90C1DF
	height 15px
.add_more_prods_l2
	background #7497B5
	height 15px
.add_more_prods
	width 160px
	margin-top 10px
.add_more_prods_text
	position absolute
	top 5px
	left 5px
	& a
		color #FFFFFF
		font-family "Century Gothic Regular Bold"
		font-size 14px
.result_text_l2
	margin-top -5px
.code_accepted
	color #FFFFFF
	font-family "Century Gothic Regular Bold"
	font-size 20px
	text-align center
	text-decoration underline
	margin-top 43px
.code_incorrect
	border 2px solid red
	border-radius 5px
	padding 5px
	& img
		top: 12px;
		right: 7px;
.dis_expl
	color red
	text-decoration none
	font-size 16px
	width 193px
.free_soap_60_sec
	display none
.dell_free_soap_60
	cursor pointer