@media (min-width: 768px) and (max-width: 991px)
	.left_side
		position absolute !important
		left -270px
	.menu_btn
		padding 4px 15px

	.sec_1, .sec_2, .sec_3
		width: 268px
	.scalp_section,
	.nails_section,
	.knee_section,
	.hang_section,
	.face_section,
	.acne_section,
	.kids_section {
		left: 15px;
	}
	.plus_1
		left 243px
	.plus_2
		right 394px
	.footer_l1_2
		width 322px
	.footer_l1_3
		width calc(100% - 820px)
	.logo
		margin-top 20px
	.menu_btn
		padding 5px
		font-size 16px
	.sub_sec_1 img
		width 100%
	.sub_sec_1
		width 50px
		margin 5px 0 0 70px
		float none
	.sec_1, .sec_2, .sec_3
		width: 195px
	.sub_sec_2
		width 100%
		padding 10px
	.sec_4
		height 233px
		padding 53px 0
	.plus_1
		bottom 100px
		left 170px
	.plus_2
		bottom 100px
		right 320px
	.sub_sec_3_3
		left 77px
	.footer_l1_2
		width: 211px
		margin 10px 0 0 0
	.footer_l1_3
		width: calc(100% - 680px)
		margin 10px 0 0 0
	.footer_l1_1 img
		width 175px
		margin 20px 20px 0 0
	.modal-dialog, .modal-content, .modal-body
		width 738px
	.modal_coupon .modal-content
		margin auto
	.modal_coupon .modal-dialog
		margin-top: 10px
	.left_side_btn
		display block
		position fixed
		top 200px
		left -30px
	.l2_3
		float right
		width calc(100% - 250px)
		height 50%
	.l2_2
		width calc(100% - 250px)
		height 50%
	.l2_1
		height 50%
	.l2_3_1, .l2_3_2
		float left
		padding 0 20px 0 0
	.l2_3_1
		margin-left 42px







