@import "colors.styl"
@import "basic.styl"
@import "back_top.styl"

.header_section_l1
	background main_color_1
	height 40px
.l1_2
	float left
	width:150px;
	border-left 1px solid main_color_4
	height 100%
	padding 0 0 0 5px
	color main_color_4
	font-size 14px
	cursor pointer
.l1_1
	float left
	width:calc(100% - 150px)
	height 100%
	text-align right
	padding 0 10px 0 0
	color main_color_4
	font-size 14px
.l1_1 img
	margin 7px 10px
.l1_1 .pull-right
	cursor pointer
.float_left
	float left
.l1_1_text
	margin 9px 0
	&:hover
		text-decoration underline
.l1_2 img
	margin 11px 15px
.l1_2_text
	margin 9px 0
	&:hover
		text-decoration underline
.header_section_l2
	height: 106px
	background main_color_4
.header_section_l2 .container, .header_section_l2 .container .row
	height: 100%
.l2_1
	height 100%
	width 250px;
.l2_2
	height 100%
	width calc(100% - 490px)
.l2_3
	height 100%
	width 240px
.l2_3 .margin_auto
	width 100%
.l2_3_1_text
	width calc(100% - 40px)
	text-align right
	&:hover
		text-decoration underline
.l2_3_1_text_1
	color main_color_1
	font-size 16px
.l2_3_1_text_2
	color main_color_1
	font-size 24px
	margin -10px 0 0 0
	font-weight bold
.l2_3_2_text
	width calc(100% - 40px)
	text-align right
	color main_color_1
	&:hover
		text-decoration underline
.l2_3_2_text_2
	font-size 24px
	font-weight bold
.l2_3_2_img
	margin 0 0 0 -10px
.menu_line_1
	height 20px
	background main_color_3
.menu_line_2
	height 20px
	background main_color_2
.menu_btn
	color #ffffff
	font-weight bold
	padding 4px 20px
	cursor pointer
	font-size 18px
	&:hover
		border-bottom 5px solid main_color_1
.menu
	top -38px
	width 100%
.about_btn
	position relative
	top -2px
	right 10px
.about_text
	top 8px
	right 84px
	color main_color_1
	text-decoration underline
	font-size 16px
	font-weight bold
.sec_1, .sec_2, .sec_3
	width 302px
.sub_sec_1
	margin 40px 0 10px 18px
.sub_sec_2
	width calc(100% - 140px)
	text-align center
.sec_prod_l1
	color main_color_1
	font-weight bold
	margin auto
.sec_prod_l3
	text-align left
	margin 10px 0
.sub_sec_3
	color #FFFFFF
	font-weight bold
.sub_sec_3_1
	height 14px
	background main_color_3
.sub_sec_3_2
	height 14px
	background main_color_2
.sub_sec_3_3
	top 3px
	font-size 18px
	left 142px
.sec_4
	background main_color_1
	color #FFFFFF
	width 150px
	height 188px
	text-align center
	padding 30px 0
.sub_sec_2 .flex
	height 50px
.sec_4_1
	font-size 22px
.sec_4_3
	font-size 22px
.sec_4_5
	font-size 19px
.sec_1, .sec_3, .sec_2
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
.hidden_prods
	z-index 10
	background #ffffff
	display none
	top 38px
.plus_1
	bottom 82px
	left 277px
.plus_2
	bottom 82px
	right 428px
.scalp_section,
.nails_section,
.knee_section,
.hang_section,
.face_section,
.kids_section
	left 75px
.acne_section
	right 0
.footer_l1
	background main_color_3
	height 105px
.footer_l2
	background main_color_1
	height 40px
	color main_color_4
	text-align center
	padding 10px 0
.first_time
	position fixed
	bottom 20px
	left 30px
	cursor pointer
	z-index 20
.modal_coupon .modal-body
	width 600px
	height 600px
	background #9AC073
	border-radius 50%
	margin 8px auto
	padding 0
.modal_coupon .modal-content
	width 620px
	height 620px
	background rgba(255,255,255,0.7)
	border-radius 50%
	text-align center
.modal_coupon_close
	background transparent
	border 0
	color #ffffff
	font-size 22px
	&:hover
		text-decoration underline
.modal_coupon_welcome
	color #305C07
	font-family "Century Gothic Regular Bold"
	font-size 36px
	text-align center
	margin 30px 0
.modal_coupon_text_l1
	color #ffffff
	font-size 24px
	margin 20px 0 0 0
.modal_coupon_text_l2
	color #ffffff
	font-size 80px
	font-weight bold
.modal_coupon_text_l3
	color #ffffff
	font-size 40px
	margin 0 0 20px 0
.modal_coupon_form .form-control
	width 400px
	padding 20px
	margin auto
.modal_coupon_form .submit
	margin 20px auto
	padding 10px 20px
	color #ffffff
	font-size 26px
	background #315B05
	border 0
.footer_l1_1 img
	margin 10px 20px 0 0
.footer_l1_2
	text-align center
	margin 20px 0 0 0
	width 400px
.footer_l1_3
	text-align center
	font-size 16px
	margin 20px 0 0 0
	font-weight bold
	width calc(100% - 900px)
.footer_l1_3 a
	color main_color_1
.ssl img
	margin 40px 20px 0 10px
.pay_pal
	text-align center
	margin 10px 0 0 0
.breadcrumbs
	font-size 12px
	margin 10px 0 10px 20px
	color #5C8AAC
	& a
		text-decoration underline
		color #5C8AAC
	& a:hover
		color #5C8AAC
.l1_1_text a
	color inherit
.sec_prod_img
	width 110px
	height 110px
.error_email, .error_email_2
	width 100%
	color red
	text-align center
	font-family "Century Gothic Regular Bold"
	font-size 18px
	margin-top -25px
	display none
.l1_2 .lang_img_ua
	background: url(/img/ua/ua.png) no-repeat;
