.float_right {
  float: right;
}
.l1_2 {
  text-align: right;
  border-left: none;
  border-right: 1px solid #eaf5fb;
}
.login {
  padding-right: 0;
  padding-left: 22px;
}
.login a {
  padding-left: 0;
  padding-right: 40px;
  background: url("/img/login_icon.png") no-repeat right 50%;
}
.l1_1>.pull-left {
  line-height: 40px;
  cursor: pointer;
  padding-left: 20px;
}
.header-contact {
  margin: 0 25px 0 0;
  padding: 0 30px 0 0;
  background: url("/img/icon_header_contact.png") no-repeat right 50%;
}
.header-faq {
  margin: 0 25px 0 0;
  padding: 0 30px 0 0;
  background: url("/img/icon_header_faqs.png") no-repeat right 50%;
}
.l2_3_1_img {
  margin: 0 0 0 20px;
}
.l2_3_2_img {
  margin: 0 0 0 10px;
}
.l2_3_1_text,
.l2_3_2_text {
  width: calc(100% - 60px);
}
.sec_prod_l3 {
  text-align: right;
}
.home_page_menu_section .three_prods .plus_2 {
  right: 313px;
}
.home_page_menu_section .three_prods .plus_1 {
  left: 483px;
}
.home_page_menu_section .two_prods .plus_1 {
  left: 644px;
}
.close_modal {
  right: auto;
  left: 13px;
}
.modal_read_more {
  right: auto;
  left: 15px;
}
.right_side {
  padding-left: 0 !important;
  padding-right: 20px;
}
.left_side {
  text-align: right;
}
.skin_complains_title_1,
.skin_complains_title_2,
.how_do_you_like_title_1,
.how_do_you_like_title_2,
.ingredients_title_1,
.ingredients_title_2,
.dead_sea_minerals_title_1,
.dead_sea_minerals_title_2 {
  left: auto;
  right: 20px;
}
.bay_with_confidence_title,
.you_may_like_title {
  left: auto !important;
  right: 14px;
}
.you_may_like_sub_title,
.you_may_like_sub_stars {
  padding-left: 0 !important;
  padding-right: 25px;
}
.you_may_like_btn_details,
.you_may_like_btn_add_to_basket {
  left: auto !important;
  right: 20px !important;
}
.ingredient_img {
  margin: 15px 0 0 15px !important;
}
.ingredient_title,
.ingredient_desc {
  padding-right: 0 !important;
}
.modal_icons_section .modal_icon_wrap .modal_icon_text {
  padding-left: 0 !important;
  padding-right: 10px;
  margin-left: 0 !important;
  margin-right: 5px;
}
.banner_section_1_left {
  margin: 10px 0 0 15px !important;
}
.youtube_video {
  margin: 0 0 0 20px !important;
}
.twitter {
  margin: 15px 0 0 20px !important;
}
.home_page_article_text_read_more {
  padding-right: 0 !important;
  padding-left: 30px;
}
.footer_l1_1 img {
  margin: 10px 0 0 20px !important;
}
